@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


:root {
  --primary-color:#0C1110;
  --wood: #221212;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  
}

* {
  margin: 0;
  padding: 0;
}

body {
  hyphens: manual;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



/* Navbar BEGIN */

.navbar {
  background-color: var(--primary-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 2;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;

}

.logo-image img{
  width: 20px;
  height: 60px;
  padding: 10px 0px 0px 23px;
}

#navbar__logotext {
  font-family: 'Lobster', cursive;
  color: black;
  display: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.35rem;
 
}

.navbar__menu {
  display: flex;
  justify-content: center;
  list-style: none;
 
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all .5s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0px 5px;
  height: 55%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: white;
  background: -webkit-linear-gradient(to right, #016AB6, white, #C11E2F);
  background: linear-gradient(to right, #C11E2F, white, #016AB6);
  color: black;
  transition: all 0.3s ease;
  font-weight: bold;
}

.navbar__links:hover {
  color: #6A767C;
  transition: all 0.3s ease;
}



@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: .1em 0em .1em 0em;
   
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: var(--primary-color);
    top: 100%;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 99;
    height: 100vh;
    font-size: 1.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
    margin-top: .3rem;
  }

  .navbar__links {
    text-align: center;
    width: 100%;
  
  }

  .navbar__btn {
    padding: 0;
    margin-top: 1.5rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
    padding: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Navbar stuff END */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 3em 2em;
}

.hero {
  text-align: center;
  background: url("../images/shot11.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  filter: brightness(100%);
  height: 41.2vh;
}

.hero h1 {
  font-size: 2.8em;
  color: white;
  opacity: 1;
  text-shadow: var(--primary-color) 1px 1px,var(--primary-color) -0px 0px,var(--primary-color) -1px 1px,var(--primary-color) -2px 2px,var(--primary-color) -3px 3px,var(--primary-color) -4px 4px,var(--primary-color) -5px 5px,var(--primary-color) -6px 6px,var(--primary-color) -7px 7px,var(--primary-color) -8px 8px,var(--primary-color) -9px 9px;
  font-family: 'Lobster', cursive;
  padding-top: 2.1em;
}

.hero ul {
  color: white;
  font-size: 1.4em;
    text-shadow: 2px 2px #240c0c;
  

}

/* CTA section START */

.cta-section {
  text-align: center;
}

.direction-cta {
  font-size: 1.41em;
  background: linear-gradient(to right, var(--wood), #2c1818, #301818);
  color: white;
  text-decoration: none;
  padding: .4em 2.74em;
  border-radius: .7em;
  display: inline-block;
  margin-bottom: 1.9em;
}

.direction-cta:hover {
  font-weight: bold;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.appointment-cta {
  font-size: 1.3em;
  background: linear-gradient(to right, var(--wood), #2c1818, #301818);
  color: white;
  text-decoration: none;
  padding: .45em 2.84em;
  border-radius: .7em;
  display: inline-block;
}

.appointment-cta:hover {
  font-weight: bold;
  opacity: 0.8;
  transition: all 0.3s ease;

}
/* CTA section END */

.features-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../images/clippers.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 2.7em 0em 0em 0em;
  padding: 2.3em;
  align-items: center;
      
}

.features-section li {
  color: white;
  font-size: 1em;
  margin-bottom: .2em;
  filter: none;
  opacity: 1;
  list-style: inside;
}

.map-section {
  padding: 0;
  margin: 0;
}

iframe {
  padding: .5em;
  width: 97%;
  height: 400px;
  background-color: var(--primary-color);
}


/* about page start */

.about {
  font-size: 1.7em;
  color: white;
  opacity: 1;
  font-family: 'Lobster', cursive;
  padding: 0em 1.5em 1.5em 1.5em;
  text-align: center;
}

.about p{
  padding: .3em .3em 0em .3em;
  font-size: .75em;
  font-family: 'Poppins', sans-serif;
  margin-top: .5rem;
  padding-bottom: 0em;
}

#about-p-bottom {
  padding: 0;
  margin-top: 0;
  margin-bottom: 2.7em;
}

/* about page end */

/* services page start */

.services {
  padding: 1.55em;
  color: white;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 2.7em 0em 2.7em 0em;
}

.services h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

.price-list {
  padding: 0;
  margin-bottom: 2.8rem;
  list-style: none; 
  font-size: 1em;
  line-height: 1.6em;
}

.price-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: .5rem;
}

.price-list-separator {
  border-bottom-style: dotted;
  border-bottom-width: 4px;
  border-bottom-color: rgb(190, 190, 190);
  margin-left: 4px;
  margin-right: 4px;
}

/* services page end */


@media (hover: hover) and (pointer: fine) {
  button:hover {
    color: palegreen;
  }
}





/* Desktop responsive begin */

.desk-gallery {
  display: none;
}

#desk-hero {
  display: none;
}

@media screen and (min-width: 992px) {
  #navbar__logotext {
    display: flex;
  }

  .logo-container {
    border-style: solid;
    flex-direction: right;
    justify-content: start;
  }

}



@media screen and (min-width: 962px) {
  body {
    background-color: white;
  }

  .hero {
  display: none;
  }

  #desk-hero {
    display: flex;
    flex-direction: column;
    font-size: 2.8em;
    padding: 0;
    text-align: left;

  }

  #desk-hero h2 {
    line-height: 20%;
    margin-bottom: 1rem;
  }

  .cta-section {
    padding: 0;
    margin: 6rem 0em 2rem 5em;
  }

  .cta-buttons { 
   padding: 1.2em 0em 0em .1em;
   text-align: left;
  }

  .direction-cta {
    font-size: 1em;
    padding: .4em 1.7em;
    color: white;
    background: var(--wood);

  }
  .appointment-cta {
    font-size: 1em;
    padding: .4em 1.7em;
    color: var(--wood);
    background: white;
    border: solid;
    border-color: var(--wood);
  }

  .features-section {
    display: none;
  }

  .desk-gallery {
    padding: 0;
    display: flex;
    flex-direction: left;
    justify-content: space-between;
    margin-top: 3em;
  }


  #image-one {
    width: 12em;
    height: 100%;
    border-radius: 4px;
    margin: 3em 1em 0em .3em;
  }
  #image-two {
    width: 20em;
    height: 100%;
    border-radius: 4px;
    margin: 0em 0em 0em 0em;
  }
  #image-three {
    width: 10em;
    height: 100%;
    border-radius: 4px;
    margin: 9em 1em 0em 1em;
  }
  #image-four {
    width: 10em;
    height: 100%;
    border-radius: 4px;
    margin: 4em .3em 0em 0em;
  }

  .button {
    display: none;
  }

  .map-section {
    width: 100%;
    background-color: white;
    color:white; 
  }

  .map-section iframe {
    background-color: white;
   
  }

  .about {
    color: black;
  }

  .services {
    color: black;
  }

  #services-go {
    display: flex;
  }

  .services h1 {
    padding-bottom: 1em;
  }

  .price-list-item {
    padding: .4em 1em 0em 1em;
  }

  .about h1 {
    padding-bottom: 1em;
  }

}



/* desktop responsive end */